<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="SocketIO.Core" version="3.1.1" manuallyInstalled="true" />
  <package id="SocketIO.Serializer.Core" version="3.1.1" />
  <package id="SocketIO.Serializer.NewtonsoftJson" version="3.1.1" manuallyInstalled="true" />
  <package id="SocketIO.Serializer.SystemTextJson" version="3.1.1" />
  <package id="SocketIOClient" version="3.1.1" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.3" manuallyInstalled="true" />
</packages>